* {
  box-sizing: border-box; }

body {
  height: 100vh;
  margin: 0;
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: center; }
  body .container {
    width: 230px;
    height: 100%;
    background-image: url("backgroundDesktop.png");
    background-size: 100% 100%;
    padding: 0 0.5em 0 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; }
    body .container div {
      width: 100%; }
      body .container div img {
        width: 100%; }

.flame {
  position: relative;
  top: 8.2em;
  z-index: 0;
  animation-name: flicker;
  animation-duration: 3ms;
  animation-delay: 600ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes flicker {
  0% {
    transform: rotate(-1deg); }
  20% {
    transform: rotate(1deg); }
  40% {
    transform: rotate(-1deg); }
  60% {
    transform: rotate(1deg) scaleY(1.04); }
  80% {
    transform: rotate(-2deg) scaleY(0.92); }
  100% {
    transform: rotate(1deg); } }
#decor-time-sum {
  width: 21.6em;
  position: relative;
  bottom: 2.6em;
  right: 4.25em; }

.outer-orange-box {
  background: #ba110e;
  background-image: url("./fireImages/fire_23.png");
  background-size: 100% 100%;
  z-index: 1;
  position: relative;
  top: 1em;
  margin-bottom: 0.5em;
  padding: 0.2em; }
  .outer-orange-box .orange-box {
    width: 100%;
    height: 140px;
    background-image: url("./fireImages/fire_23.png");
    background-size: 100% 100%;
    box-shadow: 0 0 6px 6px rgba(255, 219, 1, 0.5); }

.jackpot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #5f5b40;
  height: 4.3em; }
  .jackpot .img-jackpot {
    width: 50%; }
  .jackpot .jackpot-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #2b270e;
    height: inherit;
    border: 0.5px solid #5f5b40;
    border-left: none;
    padding-left: 0.3em; }
    .jackpot .jackpot-box .sum-jackpot {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #f5cf02; }
      .jackpot .jackpot-box .sum-jackpot .icon-box {
        width: 13px;
        height: 15px;
        display: flex;
        justify-items: center;
        position: relative;
        top: 0.2em; }
      .jackpot .jackpot-box .sum-jackpot .sum {
        font-weight: 900;
        font-size: 1.1em;
        text-shadow: 0 2px black; }
    .jackpot .jackpot-box .pays-before {
      background: #0d0d08;
      border-radius: 8px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.2em;
      width: 73%; }
      .jackpot .jackpot-box .pays-before .text-pays-before {
        margin: 0;
        color: white;
        font-size: 0.6em; }
      .jackpot .jackpot-box .pays-before img {
        width: 0.6em;
        margin-left: 0.1em;
        position: relative;
        top: 1px; }
      .jackpot .jackpot-box .pays-before .sum-pays-before {
        font-size: 0.6em;
        color: #f5cf02;
        display: inline-block; }

#ceiling-box {
  margin-bottom: 12rem; }

#prog-box {
  position: relative;
  top: 13px; }

.time-jackpot-before {
  color: white;
  background: #dd360a;
  position: relative;
  top: 150px;
  left: 52px;
  z-index: 2;
  font-size: 0.6em;
  width: max-content;
  border: 2px solid #e65a21;
  border-radius: 15px;
  padding: 0.6em; }
  .time-jackpot-before span:last-of-type {
    color: #fed01f; }
  .time-jackpot-before img {
    background: white;
    border-radius: 45%;
    margin: 0 0.2em 0 0.2em;
    position: relative;
    top: 2px; }
  .time-jackpot-before #watch {
    width: 10px; }

.time-jackpot-sum {
  position: relative;
  top: 135px;
  left: 45px;
  z-index: 3;
  display: flex;
  flex-direction: row; }
  .time-jackpot-sum .time-sum {
    color: #f5cf02;
    font-size: 1.8em;
    font-weight: 900;
    text-shadow: 0 2px black; }
  .time-jackpot-sum .icon-box-time {
    width: 23px;
    height: 30px;
    position: relative;
    top: 8px; }

/*# sourceMappingURL=index.css.map */
